<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 1. 마이바티스 설정과 관련된 기본 세팅 선언 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 2. 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="com.kh.ourtrip.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.ourtrip.member.model.vo.ProfileImage" alias="ProfileImage"/>

		<typeAlias type="com.kh.ourtrip.admin.model.vo.VisitLog" alias="VisitLog"/>
			
		<!-- 박지현 -->
		<typeAlias type="com.kh.ourtrip.planner.model.vo.PlannerView" alias="PlannerView"/>
		<typeAlias type="com.kh.ourtrip.planner.model.vo.Planner1" alias="Planner1"/>
		<typeAlias type="com.kh.ourtrip.planner.model.vo.Day" alias="Day"/>
		<typeAlias type="com.kh.ourtrip.planner.model.vo.Schedule" alias="Schedule"/>

	</typeAliases>
	
	<!-- mapper 파일 등록 부분 -->
	<mappers>
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/visitCount-mapper.xml"/>
		<mapper resource="/mapper/admin-mapper.xml"/>
	</mappers>
</configuration>
