<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="memberNo" column="MEMBER_NO" />

		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="memberNickName" column="MEMBER_NICK_NAME" />
		<result property="memberEnrollDt" column="MEMBER_ENROLLDATE" />
		<result property="memberStatus" column="MEMBER_DELETE_YN" />
		<result property="memberGrade" column="MEMBER_GRADE" />
		<result property="signUpRoute" column="SIGNUP_ROUTE"/>
	</resultMap>
	
	<resultMap type="ProfileImage" id="piResultSet">
		<id property="imageNo" column="IMAGE_NO" />
		<result property="imagePath" column="IMAGE_PATH" />
		<result property="imageUploadDate" column="IMAGE_UPLOAD_DT" />
		<result property="imageStatus" column="IMAGE_DELETE_YN" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="Member"
		resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}
		AND	MEMBER_DELETE_YN= 'N'
		AND SIGNUP_ROUTE= '1'
	</select>
	
	<!-- 소셜 로그인 -->
	<select id="socialLogin" parameterType="Member"
		resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}
		AND	MEMBER_DELETE_YN= 'N'
		AND SIGNUP_ROUTE= #{signUpRoute}
	</select>
	
	<!-- 회원인지 확인 -->
	<select id="isMember" parameterType="Member" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}
		AND MEMBER_DELETE_YN= 'N'
		AND SIGNUP_ROUTE= #{signUpRoute}
	</select>
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER
		(MEMBER_NO, MEMBER_EMAIL, MEMBER_PWD, MEMBER_NICK_NAME, SIGNUP_ROUTE)
		VALUES (SEQ_MNO.NEXTVAL, #{memberEmail}, #{memberPwd}, #{memberNickName}, #{signUpRoute})
	</insert>
	
	<!-- 프로필 이미지 삽입 -->
	<insert id="insertProfileImage" parameterType="ProfileImage">
		INSERT INTO PROFILE_IMAGE VALUES
		(SEQ_PROFILE_I_INO.NEXTVAL, #{imagePath}, SYSDATE, #{memberNo})
	</insert>
	
	<!-- 이메일 중복확인 -->
	<select id="emailCertify" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL= #{email}
		AND SIGNUP_ROUTE= '1'
	</select>
	
	<!-- 회원번호 조회 -->
	<select id="selectMemberNo" parameterType="Member" resultType="_int">
		SELECT MEMBER_NO FROM MEMBER
		WHERE MEMBER_EMAIL= #{memberEmail}
		AND SIGNUP_ROUTE= #{signUpRoute}
	</select>
	
	<!-- 프로필 이미지 조회 -->
	<select id="selectProfileImage" parameterType="_int" resultMap="piResultSet">
		SELECT * FROM PROFILE_IMAGE
		WHERE MEMBER_NO= #{memberNo}
	</select>
	
	<!-- 회원 닉네임 수정 -->
	<update id="updateNickName" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_NICK_NAME= #{memberNickName}
		WHERE MEMBER_NO= #{memberNo}
	</update>
	
	<!-- 프로필 사진 삭제 -->
	<delete id="deleteProfileImage" parameterType="_int">
		DELETE FROM PROFILE_IMAGE
		WHERE MEMBER_NO= #{memberNo}
	</delete>
	
	<!-- 프로필 사진 수정 -->
	<update id="updateProfileImage" parameterType="ProfileImage">
		UPDATE PROFILE_IMAGE SET
		IMAGE_PATH= #{imagePath},
		IMAGE_UPLOAD_DT= SYSDATE
		WHERE IMAGE_NO= #{imageNo}
	</update>
	
	<!-- 회원 비밀번호 조회 -->
	<select id="selectMemberPwd" parameterType="_int" resultType="string">
		SELECT MEMBER_PWD FROM MEMBER
		WHERE MEMBER_NO= #{memberNo}
	</select>
	
	<!-- 회원 비밀번호 변경 -->
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_PWD= #{memberPwd}
		WHERE MEMBER_NO= #{memberNo}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="secession" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_DELETE_YN= 'Y'
		WHERE MEMBER_NO= #{memberNo}
	</update>
	
	<!-- 가입된 이메일인지 확인 -->
	<select id="signUpedEmail" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL= #{email}
		AND MEMBER_DELETE_YN= 'N'
		AND SIGNUP_ROUTE= '1'
	</select>
	
	<!-- 기존 회원 이메일로  -->
	<select id="selectMember" parameterType="string" resultMap="memberResultSet">
		SELECT MEMBER_NO, MEMBER_PWD FROM MEMBER
		WHERE MEMBER_EMAIL= #{email}
		AND MEMBER_DELETE_YN= 'N'
		AND SIGNUP_ROUTE= '1'
	</select>
	
	<select id="getProfileImagePath"  parameterType="_int" resultType="string">
		SELECT IMAGE_PATH FROM PROFILE_IMAGE WHERE MEMBER_NO = #{memberNo} 
	</select>
</mapper>
