<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="planner1Mapper">
		
	<resultMap type="PlannerView" id="plannerViewResultSet">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="plannerNo" column="PLANNER_NO"/>
		<result property="plannerTitle" column="PLANNER_TITLE"/>
		<result property="plannerPwd" column="PLANNER_PWD"/>
		<result property="plannerCost" column="PLANNER_COST"/>
		<result property="plannerCreateDT" column="PLANNER_CREATE_DT"/>
		<result property="plannerModifyDT" column="PLANNER_MODIFT_DT"/>
		<result property="plannerStartDT" column="PLANNER_START_DT"/>
		<result property="plannerPublicYN" column="PLANNER_PUBLIC_YN"/>
		<result property="plannerDeleteYN" column="PLANNER_DELETE_YN"/>
		<result property="plannerExpiry" column="PLANNER_EXPIRY"/>
		<result property="plannerCount" column="PLANNER_COUNT"/>
		<result property="plannerUrl" column="PLANNER_URL"/>
		<result property="groupCode" column="GROUP_CODE"/>
		<result property="dateNo" column="DATE_NO"/>
		<result property="tripDate" column="TRIP_DATE"/>
		<result property="scheduleTitle" column="SCHEDULE_TITLE"/>
		<result property="scheduleCost" column="SCHEDULE_COST"/>
		<result property="scheduleTime" column="SCHEDULE_TIME"/>
		<result property="scheduleMemo" column="SCHEDULE_MEMO"/>
		<result property="scheduleLocationNM" column="SCHEDULE_LOCATION_NAME"/>
		<result property="scheduleLat" column="SCHEDULE_LAT"/>
		<result property="scheduleLng" column="SCHEDULE_LNG"/>
		<result property="smallAreaCode" column="LARGE_AREA_CODE"/>
		<result property="largeAreaCode" column="SMALL_AREA_CODE"/>
	</resultMap>
	
	<resultMap type="Planner" id="planner1ResultSet">
		<id property="plannerNo" column="PLANNER_NO"/>
		<result property="plannerTitle" column="PLANNER_TITLE"/>
		<result property="plannerPwd" column="PLANNER_PWD"/>
		<result property="plannerCost" column="PLANNER_COST"/>
		<result property="plannerCreateDT" column="PLANNER_CREATE_DT"/>
		<result property="plannerModifyDT" column="PLANNER_MODIFT_DT"/>
		<result property="plannerStartDT" column="PLANNER_START_DT"/>
		<result property="plannerPublicYN" column="PLANNER_PUBLIC_YN"/>
		<result property="plannerDeleteYN" column="PLANNER_DELETE_YN"/>
		<result property="plannerExpiry" column="PLANNER_EXPIRY"/>
		<result property="plannerCount" column="PLANNER_COUNT"/>
		<result property="plannerUrl" column="PLANNER_URL"/>
		<result property="groupCode" column="GROUP_CODE"/>
	</resultMap>
	
	<resultMap type="Day" id="dayResultSet">
		<id property="dateNo" column="DATE_NO"/>
		<result property="tripDate" column="TRIP_DATE"/>
		<result property="plannerNo" column="PLANNER_NO"/>
	</resultMap>
	
	<resultMap type="Schedule" id="scheduleResultSet">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="scheduleTitle" column="SCHEDULE_TITLE"/>
		<result property="scheduleCost" column="SCHEDULE_COST"/>
		<result property="scheduleTime" column="SCHEDULE_TIME"/>
		<result property="scheduleMemo" column="SCHEDULE_MEMO"/>
		<result property="scheduleLocationNM" column="SCHEDULE_LOCATION_NM"/>
		<result property="scheduleLat" column="SCHEDULE_LAT"/>
		<result property="scheduleLng" column="SCHEDULE_LNG"/>
	</resultMap>

	<select id="selectPlannerView" parameterType="_int" resultMap="plannerViewResultSet">
		SELECT * FROM V_PLANNER WHERE PLANNER_NO = ${no}
	</select>
		
</mapper>
