<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plannerCardMapper">
	<resultMap type="PlannerCard" id="PlannerCardResultSet">
		<id property="plannerNo" column="PLANNER_NO"/>
		<result property="plannerTitle" column="PLANNER_TITLE"/>
		<result property="plannerStartDT" column="PLANNER_START_DT"/>
		<result property="groupName" column="GROUP_NAME"/>
		<result property="plannerCount" column="PLANNER_COUNT"/>
		<result property="plannerUrl" column="PLANNER_URL"/>
		<result property="plannerPermission" column="PLANNER_PERMISSION"/>
	</resultMap>
	
	<resultMap type="AreaName" id="AreaNameResultSet">
		<result property="plannerNo" column="PLANNER_NO"/>
		<result property="largeAreaCode" column="LARGE_AREA_CODE"/>
		<result property="largeAreaName" column="LARGE_AREA_NAME"/>
		<result property="smallAreaCode" column="SMALL_AREA_CODE"/>
		<result property="smallAreaName" column="SMALL_AREA_NAME"/>
	</resultMap>
	
	<resultMap type="LargeArea" id="LargeAreaResultSet">
		<id property="largeAreaCode" column="LARGE_AREA_CODE"/>
		<result property="largeAreaName" column="LARGE_AREA_NAME"/>
	</resultMap>
	
	<resultMap type="SmallArea" id="SmallAreaResultSet">
		<result property="smallAreaCode" column="SMALL_AREA_CODE"/>
		<result property="largeAreaCode" column="LARGE_AREA_CODE"/>
		<result property="smallAreaName" column="SMALL_AREA_NAME"/>
	</resultMap>
	
	<resultMap type="PlannerMember" id="PlannerMemberResultSet">
		<result property="plannerNo" column="PLANNER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="plannerPermission" column="PLANNER_PERMISSION"/>
	</resultMap>
	
	<!-- 추천플래너 검색 -->
	<select id="selectRecommendPCList" resultMap="PlannerCardResultSet">
		SELECT ROWNUM, PLANNER_NO, PLANNER_TITLE, PLANNER_START_DT, 
				TRIP_DATE, GROUP_NAME, PLANNER_COUNT, PLANNER_URL
		FROM (SELECT * FROM V_PLANNER_CARD
			WHERE PLANNER_DELETE_YN = 'N'
			AND PLANNER_PUBLIC_YN = 'Y'
			ORDER BY PLANNER_COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<!-- 포함된 지역 검색 -->
	<select id="selectAreaNames" parameterType="list" 
	resultMap="AreaNameResultSet">
		SELECT * FROM V_AREA_NAME
		WHERE PLANNER_NO IN 
		<foreach item="item" index="index" collection="list" 
		 open="(" separator="," close=")">
			#{item}
		</foreach>
		
	</select>
	
	<!-- 전체플래너번호 리스트 + 검색(제목, 그룹명) -->
	<select id="getPListNo" parameterType="map" 
	resultType="_int">
		SELECT PLANNER_NO FROM V_PLANNER_CARD
		<where>
			AND PLANNER_DELETE_YN = 'N'
			AND PLANNER_PUBLIC_YN = 'Y'
			<if test="searchTitle != null or searchTitle != ''">
				<bind name="st" value="'%' + _parameter.searchTitle + '%'"/>
				AND PLANNER_TITLE LIKE #{st}
			</if>
			<if test="groupName != '전체'">
				AND GROUP_NAME = #{groupName}
			</if>
		</where>
	</select>
	
	<!-- 검색된 플래너번호에 맞는 지역명 가져오기 -->
	<select id="getAList" parameterType="map"
	resultMap="AreaNameResultSet">
		SELECT * FROM V_AREA_NAME
		WHERE PLANNER_NO IN
		<foreach item="item" index="index" collection="pListNo"
		open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 경유여부체크되어있을경우 지역필터링 -->
	<select id="getRList" parameterType="map"
	resultType="_int">
		SELECT PLANNER_NO FROM V_AREA_NAME
		<where>
			AND PLANNER_NO IN
			<foreach item="item" index="index" collection="pListNo"
			open="(" separator="," close=")">
			#{item}
			</foreach>
			<if test="largeArea != 0 and smallArea == 0">
				AND LARGE_AREA_CODE = #{largeArea}
			</if>
			<if test="largeArea != 0 and smallArea != 0">
				AND LARGE_AREA_CODE = #{largeArea}
				AND SMALL_AREA_CODE = #{smallArea}
			</if>
		</where>
	</select>
	
	<!-- 검색된 플래너 목록 조회 -->
	<select id="selectPList" parameterType="map"
	resultMap="PlannerCardResultSet">
		SELECT * FROM V_PLANNER_CARD
		<where>
			AND PLANNER_NO IN
			<foreach item="item" index="index" collection="searchListNo"
			open="(" separator="," close=")">
				#{item}
			</foreach>
			AND PLANNER_DELETE_YN = 'N'
			AND PLANNER_PUBLIC_YN = 'Y'
		</where>
	</select>
	
	<!-- 대지역 목록 조회 -->
	<select id="selectLargeNmList" resultMap="LargeAreaResultSet">
		SELECT * FROM LARGE_AREA
		ORDER BY LARGE_AREA_CODE
	</select>
	
	<!-- 소지역 목록 조회 -->
	<select id="selectSmallNmList" resultMap="SmallAreaResultSet">
		SELECT * FROM SMALL_AREA
		ORDER BY LARGE_AREA_CODE, SMALL_AREA_CODE
	</select>
	
	<!-- 수정중인 플래너 목록 조회  -->
	<select id="updatePlannerList" parameterType="_int" resultMap="PlannerCardResultSet">
		SELECT * FROM PLANNER_MEMBER
		OUTER JOIN V_PLANNER_CARD USING(PLANNER_NO)
		WHERE MEMBER_NO= #{memberNo}
		AND PLANNER_DELETE_YN = 'N'
		AND PLANNER_START_DT > SYSDATE
	</select>
	
	<!-- 완료된 플래너 목록 조회 -->
	<select id="completePlannerList" parameterType="list" resultMap="PlannerCardResultSet">
		SELECT * FROM PLANNER_MEMBER
		OUTER JOIN V_PLANNER_CARD USING(PLANNER_NO)
		WHERE MEMBER_NO= #{memberNo}
		AND PLANNER_DELETE_YN = 'N'
		AND PLANNER_START_DT &lt;= SYSDATE
	</select>
	
	<!-- 플래너 권한 조회 -->
	<select id="selectPlannerPerm" parameterType="PlannerMember" resultType="string">
		SELECT PLANNER_PERMISSION FROM PLANNER_MEMBER
		WHERE PLANNER_NO= #{plannerNo}
		AND MEMBER_NO= #{memberNo}
	</select>
	
	<!-- 플래너 삭제상태로 변경 -->
	<update id="delPlanner" parameterType="PlannerMember">
		UPDATE PLANNER SET
		PLANNER_DELETE_YN = 'Y'
		WHERE PLANNER_NO= #{plannerNo}
	</update>
</mapper>
